Repository parameter1/omeda, pull requests merged in 2022-02, with the labels that each got.

#13 Always lowercase email address values
  services/graphql/src/definitions/customer.js
  services/graphql/src/resolvers/customer.js
Labels: service: graphql

#14 Save customer records to database on query
  packages/mongodb/src/indexes.js
  packages/mongodb/src/repo/customer.js
  packages/mongodb/src/repo/index.js
  services/graphql/src/resolvers/customer.js
Labels: service: graphql

#15 Add customer `OrginalPromoCode` and `OriginalCreatedDate`
  packages/api-client/src/schema/customer/basic-elements.js
  services/graphql/src/definitions/customer.js
Labels: package: api-client, service: graphql

#16 Add `Customer.mergeHistory` field
  packages/api-client/src/resources/customer.js
  services/graphql/src/dataloaders.js
  services/graphql/src/definitions/customer.js
  services/graphql/src/resolvers/customer.js
Labels: service: graphql

#18 Strip `CDT` suffix from Omeda date strings
  packages/api-client/src/utils/convert-date.js
Labels: package: api-client

#19 Use `BigInt` scalar type on related customer element IDs
  services/graphql/package.json
  services/graphql/src/definitions/customer.js
  services/graphql/src/definitions/index.js
  services/graphql/src/resolvers/index.js
  yarn.lock
Labels: service: graphql

#20 Add ability to exclude external IDs by namespace
  services/graphql/src/definitions/customer.js
  services/graphql/src/resolvers/customer.js
Labels: service: graphql

#21 Filter customer subscriptions with deleted products
  services/graphql/src/resolvers/customer.js
Labels: service: graphql

#23 Filter invalid customer emails from formatted API response
  packages/api-client/src/attributes.js
  packages/api-client/src/resources/abstract.js
  packages/api-client/src/resources/email.js
  packages/api-client/src/response/customer/emails.js
Labels: package: api-client

#24 Add extraAddress/mailStop support
  services/graphql/src/definitions/customer.js
  services/graphql/src/resolvers/customer.js
Labels: enhancement
